.search {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 0rem;

  input,
  button {
    font-size: 2rem;
    padding: 0.35rem;
    line-height: 26px;
   
  }
  input{
    border: 2px solid $bacColor;
  }
  button {
    background-color: $bacColor;
    border: 3px solid $bacColor;
    color: #fff;
  }
}
